@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Piedra&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #51ff0d;
  overflow: hidden;
  margin: 15px;
  overflow-x: hidden;

  height: 100%;
  overflow: hidden;
}

.email {
	height:35px;
	font-size: 2em;
	width:350px;
	margin-bottom: 15px;
	background-color: #ff6ec7;
	color:white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

table {
  width: 800px;
}

.header-image {
  text-align: center;
  height: 330px;
  pointer-events: none;
}
.header-image img {
  width: 637px;
}

.title-centre {
	width: 500px;
	height: 450px;
	margin-left: 40px;
	margin-top: 20px;
	
}

.center,
.footer {
  display: block;
  text-align: -webkit-center;
}
.link {
  width: 25%;
  float: left;
  text-align: center;
}

#mce-EMAIL {
  margin-right: 8px;
  display: inline;
}



.sign-up {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
	
}

label,
h2,
p {
  font-family: "Bangers", cursive;
  font-size: 3rem;
}

label {
	
	font-size: 3rem;
}

p {
  margin-top: 1px;
  font-size: 3rem;
}

.footer {
  font-family: "Piedra", cursive;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 2em;
  margin: -2em;
  font-size: 3rem;
}

iframe,
.giphy-embed {
  pointer-events: none;
}

.main-vid {
  pointer-events: auto;
  margin-left: 30px;
  width: 70em;
}

.gallery-item {
  pointer-events: auto;
}

.video-container {
}
.video-large {
  grid-column: 1;
  grid-row: 1 / 3;
}
.video-container iframe {
  /*change according to your need*/
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}
.span-row-2 {
  grid-row: span 2 / auto;
}

.span-row-3 {
  grid-row: span 3 / auto;
}

.gallery-item {
  height: 100%;
  width: 100%;
}

.more-tat {
	
	display: inline-block;
	padding:20px;
	
}

.more {
	text-align: center;
	width: 100%;
	padding-right: 50px;
}

#prevbutton , #nextbutton {
	font-size: 5rem;
}
