@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Piedra&display=swap");

* {
  margin: 0;
  padding: 0;
  cursor: default;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  overflow-x: hidden;
}

#canvas { 
        z-index: -100; 
        position: fixed; 
        top: 0; 
        left: 0; 
        opacity: 1.0; 
        background-color: #51ff0d;
    } 
		

body {
  background: #51ff0d;
  overflow: hidden;
  margin: 15px;
  overflow-x: hidden;
  border: 0px;
  margin: 0px;
  margin-bottom: -30px;

  padding: 5px;
  padding-bottom: -5px;
  height: 100%;
  overflow: hidden;
}

.email {
  height: 35px;
  font-size: 2em;
  width: 350px;
  margin-bottom: 15px;
  cursor: pointer;
  background-color: #ff6ec7;
  color: black;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.8; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border-radius: 5px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 2em;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
  height: 35px;
  cursor: pointer;
}
.myButton:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
  cursor: pointer;
}
.myButton:active {
  top: 1px;
}

table {
  width: 500px;
  margin-top: -20px;
}

.header-image {
  text-align: center;
  height: 330px;
  pointer-events: none;
}
.header-image,
img {
  width: 300px;
}

.title-centre {
  width: 604px;
  height: 473px;
  margin-bottom: -80px;
  margin-left: 0px;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.center,
.footer {
  display: block;
  text-align: -webkit-center;
}
.link {
  width: 25%;
  float: left;
  text-align: center;
  cursor: pointer;
}

#mce-EMAIL {
  margin-right: 8px;
  display: inline;
}

.sign-up {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

label,
h2,
p {
  font-family: "Bangers", cursive;
  font-size: 3rem;
}

label {
  font-size: 3rem;
}

p {
  margin-top: 1px;
  font-size: 3rem;
}

.footer {
  font-family: "Piedra", cursive;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 2em;
  margin: -2em;
  font-size: 3rem;
  cursor: pointer;
}

iframe,
.giphy-embed {
  pointer-events: none;
}

.gifs {
  height: 150px;
  width: 150px;
  cursor: pointer;
}

.contact {
  height: 150px;
  width: 300px;
  padding-left: -30px;
}
.helicopter {
  margin-left: -150px;
}

.main-vid {
  pointer-events: auto;
  margin-left: 30px;
  width: 70em;
}

.gallery-item {
  pointer-events: auto;
}

.video-container {
}
.video-large {
  grid-column: 1;
  grid-row: 1 / 3;
}
.video-container iframe {
  /*change according to your need*/
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  cursor: pointer;
}
.span-row-2 {
  grid-row: span 2 / auto;
}

.span-row-3 {
  grid-row: span 3 / auto;
}

.gallery-item {
  height: 100%;
  width: 100%;
}

.more-tat {
  display: inline-block;
  padding: 20px;
}

.more {
  text-align: center;
  width: 100%;
  padding-right: 50px;
}

#prevbutton,
#nextbutton {
  font-size: 5rem;
  cursor: pointer;
}

/* need to add cursor property to these buttons*/
.footer {
  padding-top: 20px;
  margin-bottom: 25px;
  padding-bottom: 50px;
  font-size: 2em;
  cursor: pointer;
}
